.footer > h3 {
	color: white;
	font-size: 2rem;
}
.footer {
	position: relative;
	padding-top: 5%;
	padding-left: 8%;
	width: 100%;
	padding-right: 8%;
}
.footer h3 {
	color: white;
}
.footer h1,
.footer h2,
.footer h3,
.footer p {
	z-index: 4;
}

.footer > p {
	font-size: 1.3rem;
	color: rgba(255, 255, 255, 0.23);
}
.footer .logo {
	max-width: 30%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	color: white;
	z-index: 4;
}
.footer .logo img {
	position: relative;
	width: 70%;
	height: auto;
}
.footer .logo > div span:nth-child(1) {
	font-size: 2rem;
}
.footer .logo > div span:nth-child(2) {
	font-size: 1.3rem;
}
.footer .linkscontainer {
	display: flex;
	padding-top: 1rem;
	z-index: 4;
}

.footer .linklist ul {
	list-style-type: none;
	list-style: none;
	list-style-position: inside;
	padding: 0;
}

.footer .linklist h3 {
	font-size: 1.2rem;
}

.footer .linklist {
	padding-right: 3rem;
}

.footer .linklist ul li {
	color: rgba(255, 255, 255, 0.23);
	font-size: 1rem;
	padding-top: 1.4rem;
}
#logolist img {
	position: relative;
	width: 16%;
	height: auto;
	margin-right: 1rem;
	transition: all 0.3s;
}

#logolist img:hover {
	opacity: 50%;
}

@media only screen and (max-width: 600px) {
	.footer {
		padding: 2rem 1.6rem;
	}

	.footer h3 {
		font-size: 1.2rem;
		margin-bottom: 0.5rem;
	}
	.footer p {
		font-size: 0.9rem;
		margin-top: 0.5rem;
		margin-bottom: 1rem;
	}

	.footer .footercontainer {
		flex-wrap: wrap !important;
	}

	.footer .footercontainer .linkscontainer {
		justify-content: flex-start;
		flex-wrap: wrap !important;
		padding-top: 3.2rem;
	}
	#concentricBig {
		width: 70% !important;
		top: 40% !important;
	}

	#projects {
		padding-right: 0rem !important;
	}

	.footer .logo img {
		width: 90%;
	}
	.footer .logo > div span:nth-child(1) {
		font-size: 1.3rem;
	}
	.footer .logo > div span:nth-child(2) {
		font-size: 0.9rem;
	}
}
@media only screen and (min-width: 600px) and (max-width: 1024px) {
	.footer {
		padding: 2rem 1.6rem;
	}
	.footer h3 {
		font-size: 2rem;
		margin-bottom: 0.5rem;
		padding-left: 2rem;
	}
	.footer p {
		font-size: 1.5rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
		padding-left: 2rem;
	}
	#concentricBig {
	}
	.footer .footercontainer {
		flex-wrap: wrap;
		align-items: center !important;
	}
	.footer .footercontainer .linkscontainer {
		padding-left: 5rem;
		padding-top: 3rem;
		margin: auto;
	}
}
