@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Corben:wght@700&family=Coustard:wght@900&display=swap");

body.modalopen {
	overflow-y: hidden;
}

.mainwrapper {
	background: linear-gradient(354deg, rgba(21, 25, 101, 1) 0%, rgba(11, 13, 51, 1) 100%);
	width: 100%;
	overflow: hidden !important;
}

.mainwrapper .giantCurve {
	position: absolute;
	top: -6rem;
	right: -20rem;
	width: 70%;
	height: auto;
	z-index: 3;
	min-width: 50%;
	clip-path: view-box;
}

.mainwrapper h1 {
	font-family: "ultra", serif;
	font-size: 3.4rem;
	line-height: 50%;
	font-weight: bolder;
	color: white;
	letter-spacing: 2;
}
.mainwrapper h2 {
	font-family: "ultra", serif;
	font-size: 3.2vw;
	color: var(--lightblue);
}
.bodycontainer {
	width: 100%;
	position: relative;
}
.maintextcontainer {
	position: relative;
	padding-left: 5rem;
	padding-top: 8%;
	width: 50%;
	z-index: 3;
}

.maintextcontainer .bannertext h1 {
	color: #46b5d1;
	font-size: 4rem;
	width: 100%;
}
.bodycontainer .laptopsvg {
	position: relative;
	width: 50%;
	height: auto;
	margin-top: 2%;
	display: inline-block;
	max-width: 50%;
	animation: float 6s ease-in-out infinite;
	animation-delay: 3s;
	user-select: none;
	z-index: 4;
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-30px);
	}
	100% {
		transform: translatey(0px);
	}
}

.mainsectionpadded {
	width: 100%;
	display: flex;
	position: relative;
	padding-bottom: 2rem;
	padding-top: 6.4%;
}

.mainsectionstyles {
	width: 100%;
	display: flex;
	position: relative;
	padding-bottom: 2rem;
}

.maintextcontainer p {
	width: 90%;
	color: rgba(201, 211, 253, 0.33);
	font-size: 1.4rem;
	text-align: left;
	margin-top: 3.3rem;
}

.bodycontainer img {
	position: absolute;
	z-index: 1;
	user-select: none;
}

.maintextcontainer .getstartedbutton {
	border-style: solid;
	border-color: #8b99d1;
	border-width: 5px;
	width: 40%;
	color: #8b99d1;
	font-size: 1.4rem;
	margin-top: 3.5rem;
	text-align: center;
	padding: 2.2rem 1.8rem;
	border-radius: 1rem;
}

.maintextcontainer .getstartedbutton:hover {
	border-style: solid;
	background-color: #8b99d1;
	color: rgb(12, 15, 53);
	transition: 0.3s ease-in-out;
	cursor: pointer;
}

.maintextcontainer .linkButton {
	display: inline-block;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.aboutsection {
	width: 100%;
	margin-top: 8%;
	padding-left: 5rem;
	position: relative;
}

.aboutsection h2 {
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 5%;
}
.aboutsection .aboutus {
	display: flex;
	flex-direction: column;
	width: 50%;

	padding-top: 10%;
	align-items: center;
	justify-content: center;
}

.aboutsection .arrowSvg {
	top: 7%;
	left: 22%;
	width: 18%;
	height: auto;
	opacity: 60%;
	position: absolute;
	stroke: rgba(42, 49, 114, 0.7);
	stroke-width: 3;
}

.bodycontainer .aboutusbottom {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-top: 10vh;
	position: relative;
	margin-bottom: 14%;
	flex: 1;
}

.aboutsection .aboutus {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	padding-right: 2rem;
}

.aboutsection .aboutuscontainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 5rem;
}

.aboutsection .aboutus .bodytext {
	text-align: left;
	font-size: 1.7rem;
	color: #b0b1d6;
	width: 100%;
}

.bodycontainer .aboutusbottom #peopleworkingsvg {
	position: relative;
	width: 100%;
	height: auto;
	padding-left: 5rem;
}

.aboutsection .aboutus .logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 80%;
}

.aboutsection .aboutus .logo img {
	display: inline-block;
	width: 130%;
	height: auto;
	position: relative;
	padding-right: 1rem;
}

.aboutsection .aboutus .bodytextinner {
	font-size: 1.3rem;
	color: var(--lightpurple);
}

.aboutsection .technologysvg {
	position: absolute;
	width: 50%;
	height: auto;
	margin-top: 7rem;
	opacity: 20%;
	top: 77%;
	left: 25%;
}
.aboutusbottom .textcontainer {
	width: 50%;
	padding-left: 10%;
}

#lightbeam {
	position: absolute;
	width: 15vw;
	height: 1vh;
	background: rgb(16, 18, 59);
	background: linear-gradient(50deg, rgba(16, 18, 59, 0.5) 40%, rgba(70, 181, 209, 1) 120%);
	border-radius: 3rem;
}
.contactus {
	position: relative;
	background-color: white;
	width: 100%;
	padding-top: 6rem;

	padding-bottom: 10rem;
}

.contactus .contactuscontainer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.contactus .contactform input,
.contactus .contactform textarea {
	font-size: 1rem;
	width: 80%;
	padding: 1rem 1rem;
	color: #32407b;
	border: 2px solid rgba(58, 62, 144, 0.45);
	border-radius: 0.3rem;
	margin-bottom: 2rem;
	transition: all ease 0.3s;
}

.contactus .contactform input:focus,
.contactus .contactform textarea:focus {
	outline: none;
	border-color: rgba(55, 57, 141, 0.7);
	border-width: 2px;
}

.contactus .contactform input[type="text"]::placeholder {
	color: rgba(58, 62, 144, 0.45);
}

.contactus .contactform input[type="email"]::placeholder {
	color: rgba(58, 62, 144, 0.45);
}

.contactus .contactform input:nth-child(6) {
	height: 20%;
}

.contactus .contactform textarea {
	font-family: roboto;
}

.contactus .contactform textarea::placeholder {
	font-family: roboto;
	font-weight: 100;
	color: rgba(58, 62, 144, 0.45);
}

.contactus .contactform input[type="submit"] {
	color: white;
	background-color: #14185f;
	border-radius: 2rem;
	margin-top: 3rem;
	transition: all ease 0.6s;
}

.contactus .contactform input[type="submit"]:hover {
	opacity: 92%;
	transform: scale(0.95);
}
.contactus .contactform input[type="submit"]::placeholder {
	color: white;
	font-size: 1.3rem;
}
.bodycontainer .servicesStyles {
	position: relative;
	padding-bottom: 10%;
}
.bodycontainer .servicesStyles h2 {
	color: rgba(24, 31, 88, 0.9);
	font-size: 7.5rem;
	position: relative;
	left: -5vw;
}

.bodycontainer .servicesStyles .arrowSvg2 {
	position: absolute;
	top: 0%;
	left: 52%;
	width: 20%;
	height: auto;
	opacity: 50%;
	stroke: rgba(42, 49, 114, 0.7);
	stroke-width: 3;
}

#ourteam {
	margin-top: 5rem;
	width: 100%;
	padding: 3rem;
	background-color: white;
	z-index: -1;
}

#ourteam h2 {
	text-align: center;
	margin-top: 5rem;
	color: #1b1f6f;
	padding-top: 2rem;
}
#ourteam .heading p {
	text-align: justfiy;
	width: 70%;
	font-size: 1.3rem;
	color: rgba(21, 24, 97, 0.4);
	margin-left: auto;
	margin-right: auto;
	z-index: 2;
}
#ourteam .teamcontainer {
	padding: 10rem 0;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
#ourteam .teamcontainer .card {
	position: relative;
	width: 22%;
	display: flex;
	flex-direction: column;
	align-items: center;
	-webkit-box-shadow: 0px 6px 20px 1px #b5b5b5;
	box-shadow: 0px 6px 20px 1px #b5b5b5;
	border-bottom: 0.5rem solid #7987c3;
}

#ourteam .teamcontainer .card .avatar {
	width: 10rem;
	height: 10rem;
	background-image: url("/svgs/avatar1.svg");
	position: absolute;
	top: -24%;
	border: 3px solid rgba(121, 135, 195, 0.2);
	border-radius: 50%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
	.mainwrapper .giantCurve {
		display: none;
	}
	.bodycontainer .laptopsvg {
		display: none;
	}

	.bodycontainer .mainsectionstyles {
		display: block;
		width: 100%;
	}
	.bodycontainer .maintextcontainer h1 {
		font-size: 2.1rem;
		text-align: center;
	}

	.bodycontainer .maintextcontainer {
		margin-top: 3rem;
		width: 100%;
		max-width: 100%;
		padding: 2rem 1.4rem;
	}
	.bodycontainer .maintextcontainer .bannertext h1 {
		font-size: 3rem;
		line-height: 3.1rem;
	}
	.bodycontainer .maintextcontainer p {
		text-align: center;
		font-size: 1rem;
		width: 100%;
		padding-bottom: 2rem;
	}
	.maintextcontainer .linkButton {
		display: inline-block;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}
	.maintextcontainer .getstartedbutton {
		font-size: 1rem;
		border-width: 0.2rem;
		border-radius: 0.5rem;
		padding: 1.4rem 1.5rem;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}

	.mainsectionpadded {
		padding-bottom: 2rem;
		padding-top: 25%;
	}

	.bodycontainer .aboutsection {
		padding: 1.2rem 1.5rem;
	}
	.bodycontainer .aboutsection h2 {
		font-size: 2rem;
	}
	.aboutsection {
		padding-left: 1.4rem;
	}
	.aboutsection .arrowSvg {
		display: none;
	}

	.aboutsection .aboutuscontainer {
		display: block;
		margin-bottom: 2rem;
	}

	.aboutsection .aboutuscontainer #codeSvg {
		display: none;
	}
	.aboutsection .aboutuscontainer .aboutus {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding-left: 1.4rem;
		padding-right: 1.4rem;
	}

	.aboutuscontainer .aboutus .bodytext {
		font-size: 1.5rem;
		text-align: left;
		margin-bottom: 0rem;
	}
	.aboutuscontainer .aboutus .bodytextinner {
		font-size: 1rem;
		text-align: left;
	}

	.aboutsection .logo > img {
		display: inline-block;
		width: 2%;
		height: auto;
	}
	.aboutsection .logo {
		font-size: 1rem;
		margin-left: auto;
		margin-right: auto;
	}
	#digigate {
		font-size: 1rem;
	}

	.aboutsection .aboutus img {
		display: inline-block;
		position: relative;
	}
	.aboutsection .aboutus .technologysvg {
		position: relative;
		display: inline-block;
		width: 100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		margin-top: 1rem;
		opacity: 100%;
		padding: 1rem 0rem;
		left: 0;
	}

	.bodycontainer .aboutusbottom {
		display: block;
		padding: 2rem 1rem;
	}

	.bodycontainer .aboutusbottom #peopleworkingsvg {
		display: none;
	}
	.bodycontainer .aboutusbottom .textcontainer {
		width: 100%;
		padding: 0rem 1.4rem;
	}
	.bodycontainer .aboutusbottom .textcontainer > h2 {
		font-size: 1.6rem !important;
		width: 100%;
		text-align: left;
		margin-bottom: 0.8rem !important;
	}
	.bodycontainer .aboutusbottom .textcontainer > p {
		font-size: 1rem !important;
		padding-right: 0rem !important;
	}
	.bodycontainer .servicesStyles {
		margin-top: 3rem;
	}

	.bodycontainer .servicesStyles h2 {
		font-size: 3rem;
		left: 0px;
		text-align: center;
		padding-top: 1.6rem;
	}

	#lightbeam {
		width: 40%;
		height: 2%;
	}

	.bodycontainer .servicesStyles .servicescontainer {
		flex-direction: column !important;
		justify-content: space-between !important;
		align-items: center;
		flex: 1;
		width: 100%;
		padding: 0rem 1.4rem !important;
	}
	.bodycontainer .servicesStyles .servicescontainer img {
		width: 100% !important;
	}
	.bodycontainer .serviceStyles img.longDots {
		display: none !important;
	}

	.bodycontainer .servicesStyles .arrowSvg2 {
		display: none;
	}

	#ourteam {
		padding: 1rem 1.4rem;
	}

	#ourteam #technetworksvg {
		width: 80% !important;
		z-index: 1 !important;
	}

	#ourteam h2 {
		font-size: 2rem;
		z-index: 10;
		margin-top: 1rem;
		width: 100%;
		text-align: center;
	}
	#ourteam .heading p {
		font-size: 1rem;
		width: 100%;
		padding: 1rem 0.8rem;
		text-align: center;
		line-height: 1.3rem;
	}

	#ourteam .teamcontainer {
		flex-direction: column;
		align-items: center;
		flex: 1;
		justify-content: space-between !important;
		padding-bottom: 0rem;
	}

	#ourteam .teamcontainer .card {
		width: 85%;
		transform: translateY(0px) !important;
		margin-bottom: 10rem;
		max-width: 85%;
	}

	#ourteam .teamcontainer .card .avatar {
		width: 8rem;
		height: 8rem;
		background-image: url("/svgs/avatar1.svg");
		position: absolute;
		top: -24%;
		border: 3px solid rgba(121, 135, 195, 0.2);
		border-radius: 50%;
		background-position: 50% 50%;
	}

	#ourteam .teamcontainer .card > div {
		padding-top: 4rem !important;
	}

	#ourteam .teamcontainer .card img {
		width: 50%;
		height: auto;
	}
	#ceoCard {
		top: 0px !important;
	}

	#ourteam .teamcontainer .card #teamBodytext {
		font-size: 1rem !important;
		margin-bottom: 3rem !important;
	}
	#ourteam .teamcontainer #timothyCard {
		margin-bottom: 5rem !important;
	}

	#companyLogos {
		display: flex !important;
		flex-direction: row !important;
		flex-wrap: wrap !important;
		width: 100% !important;
		justify-content: center !important;
		padding-top: 2rem !important;
	}

	#companyLogos img {
		padding: 1rem;
		width: 30%;
		height: auto;
	}
	.contactus {
		padding-top: 2rem;
	}
	.contactus .contactuscontainer {
		flex-direction: column;
	}

	.contactus .contactuscontainer .sendmessageSvg {
		display: none !important;
	}

	.contactus img {
		display: none !important;
	}

	.contactus .contactuscontainer h1 {
		line-height: 2rem;
		text-align: left;
	}
	.contactus .contactuscontainer h2 {
		margin-bottom: 3rem !important;
	}

	.contactus .contactuscontainer .contactform {
		flex: 100% !important;
	}
	.contactus .contactuscontainer .contactform span {
		text-align: center !important;
		width: 100% !important;
	}
	.contactus .contactform input,
	.contactus .contactform textarea {
		width: 100%;
	}

	.modalContainer {
		position: fixed;
		background-color: rgba(17, 17, 38, 0.7);
		width: 100%;
		height: 100vh;
		z-index: 10;
		transition: all ease-in-out 0.6s;
		overflow: hidden;
	}

	.modal {
		width: 100%;
		height: 50%;
		background-color: white;
		z-index: 20;
		margin-top: 0px;
		box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 0.18);
	}
	.modal img {
		position: absolute;
		width: 4%;
		height: auto;
		top: 5%;
		right: 10%;
	}
	.modal ul {
		list-style-type: none;
		padding-top: 3rem;
		margin: 0px;
	}
	.modal ul li {
		font-size: 1.5rem;
		padding: 1rem 0rem;
		color: rgba(12, 15, 53, 0.8);
	}
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
	.mainwrapper .giantCurve {
		display: inline-block;
		width: 80%;
		height: auto;
		right: 0rem;
		top: 0rem;
		opacity: 20%;
	}

	.bodycontainer .mainsectionstyles {
		padding: 4rem 0rem;
	}

	.bodycontainer .maintextcontainer {
		padding-left: 2.4rem;

		width: 100%;
	}

	.bodycontainer .maintextcontainer .getstartedbutton {
		font-size: 1.4rem;
		padding: 2rem 1rem;
		width: 40%;
	}

	.bodycontainer .maintextcontainer h1 {
		font-size: 3.5rem;
	}
	.bodycontainer .bannertext h1 {
		font-size: 4rem;
	}
	.bodycontainer .maintextcontainer p {
		font-size: 1.5rem;
	}
	.bodycontainer .laptopsvg {
		display: none;
	}

	.aboutsection {
		padding-left: 1.4rem;
		padding-right: 2rem;
	}
	.aboutsection h2 {
		font-size: 3rem;
		text-align: right;
		padding-right: 3rem;
	}

	.aboutsection .arrowSvg {
		width: 28%;
		top: 3%;
		left: 10%;
	}

	.aboutuscontainer .aboutus .bodytext {
		font-size: 2.5rem;
		text-align: left;
	}

	.aboutuscontainer .aboutus .bodytextinner {
		font-size: 1.8rem;
		text-align: right;
		margin-left: 30%;
	}

	.aboutsection .aboutus {
		width: 100%;
		padding-left: 2rem;
	}
	.aboutsection .aboutuscontainer {
		flex-direction: column;
	}
	.aboutsection .aboutuscontainer {
		margin-bottom: 0rem;
	}

	.aboutsection .technologysvg {
		position: relative;
		margin-top: 0rem;
		margin-bottom: 5rem;
	}

	.bodycontainer .aboutusbottom {
		padding: 2rem 1.4rem;
		flex-direction: column;
		align-items: center;
	}
	.bodycontainer .aboutusbottom #peopleworkingsvg {
		width: 100%;
		height: auto;
		padding: 2rem 2rem;
		margin-left: auto;
		margin-right: auto;
		flex: 1;
	}
	.bodycontainer .aboutusbottom .imageContainer {
		width: 100% !important;
	}

	.bodycontainer .aboutusbottom .textcontainer {
		padding-left: 1.4rem;
		width: 90%;
		flex: 1;
	}

	.bodycontainer .aboutusbottom .textcontainer > h2 {
		font-size: 3.1rem !important;
	}
	.bodycontainer .aboutusbottom .textcontainer p {
		font-size: 1.8rem !important;
	}

	.bodycontainer .servicesStyles {
		padding-top: 3rem;
	}

	.bodycontainer .servicesStyles h2 {
		font-size: 6rem;
		left: -10%;
	}

	.bodycontainer .servicesStyles .servicescontainer {
		flex-direction: column !important;
		width: 100% !important;
		padding: 2rem 1.4rem !important;
		align-items: center;
	}
	.bodycontainer .servicesStyles .servicescontainer img {
		width: 70% !important;
		height: auto;
	}

	.bodycontainer .servicesStyles .arrowSvg2 {
		display: none !important;
	}

	.mainsectionpadded {
		padding-bottom: 2rem;
		padding-top: 5rem;
	}

	#ourteam h2 {
		font-size: 2.8rem;
	}

	#ourteam .heading p {
		font-size: 1.5em;
		width: 90%;
	}

	#ourteam .teamcontainer {
		flex-direction: column;
		align-items: center;
		margin-top: 5rem;
		justify-content: space-between;
	}

	#ourteam .teamcontainer .card {
		width: 50%;
		margin-bottom: 10rem;
		transform: translateY(0px) !important;
	}
	#ceoCard {
		top: 0px !important;
	}
	#ourteam .teamcontainer #timothyCard {
		margin-bottom: 2rem !important;
	}
	#companyLogos {
		display: flex !important;
		flex-direction: row !important;
		flex-wrap: wrap !important;
		width: 100% !important;
		padding-top: 2rem !important;
	}

	#companyLogos img {
		padding: 1rem;
		width: 15%;
		height: auto;
	}

	.contactus {
		padding-top: 5rem;
	}
	.contactus .contactuscontainer {
		flex-direction: column;
		align-items: center;
	}
	.contactus .contactuscontainer .sendmessageSvg {
		width: 80% !important;
		margin: auto;
	}

	.contactus .contactform {
		padding: 2rem 2rem !important;
		padding-top: 5rem;
		width: 100%;
		margin: auto !important;
	}
	.contactus .contactform input,
	.contactus .contactform textarea {
		margin-left: auto;
		margin-right: auto;
	}

	.contactus .contactuscontainer .contactform span {
		text-align: center !important;
		width: 100% !important;
	}
}
