.navbar {
	position: relative;
	top: 0;
	width: 100%;
	background-color: rgba(11, 14, 49, 0);
	z-index: 5;
	transition: all 0.3ms;
}

.container {
	color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 1.1rem;
	font-family: "Roboto";
	padding-left: 5rem;
	padding-right: 5rem;
	align-items: center;
}

#navlink {
	position: relative;
	transition: all ease 0.4s;
	padding-bottom: 1rem;
}

#navlink:after,
#navlink:before {
	transition: all ease 0.4s;
}

#navlink:hover {
	cursor: pointer;
	opacity: 80%;
}

#navlink::after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: ".";
	color: transparent;
	background: white;
	height: 3px;
}

#navlink:hover::after {
	width: 100%;
}

.linkactive {
	opacity: 50%;
}

.navsticky {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 5;
	transition: all 0.3s ease-in-out;
	background-color: rgba(11, 14, 49, 1);
	box-shadow: 0px 5px 15px -3px rgba(0, 0, 0, 0.18);
}
.navbar .logo:hover {
	cursor: default;
}

.navbar .logo img,
.navsticky .logo img {
	width: 40%;
	height: auto;
}

.navbar .container ul,
.navsticky .container ul {
	list-style-type: none;
	display: flex;
	align-items: center;
}

.navbar ul > li,
.navbar ul > li:before,
.navbar ul > li:after,
.navsticky ul > li {
	transition: all 3s;
	padding-left: 4.5rem;
}

.container .logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 1.1rem;
}

.navbar .contactbutton,
.navsticky .contactbutton {
	background-color: #ffffff;
	color: rgb(30, 37, 92);
	border: solid white;
	padding-left: 2rem;
	padding-right: 2rem;
	border-radius: 1.7rem;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	font-size: 1.1rem;
	text-align: center;
}

.navbar .container .hamburgericon,
.navsticky .hamburgericon {
	width: 5%;
	height: auto;
	opacity: 90%;
	transition: all 0.3s;
	display: none;
}

.navbar .container .hamburgericon:focus {
	opacity: 60%;
}

.navbar .contactbutton:hover,
.navsticky .contactbutton:hover {
	box-sizing: border-box;
	background-color: rgba(11, 14, 49, 0);
	transition: all 0.3s ease;
	border-style: solid;
	border-color: #ffffff;
	color: #ffffff;
}

@media only screen and (max-width: 600px) {
	.navbar .container ul,
	.navsticky .container ul {
		display: none;
	}
	.navbar .logo,
	.navsticky .logo {
		font-size: 1.4rem;
	}
	.navbar .logo img {
		width: 40%;
		height: auto;
	}
	.navbar .container,
	.navsticky .container {
		padding-left: 1rem;
		padding-right: 2rem;
		padding-top: 2rem;
	}
	.navbar .container .hamburgericon,
	.navsticky .container .hamburgericon {
		display: inline-block;
	}
}
@media only screen and (min-width: 600px) and (max-width: 992px) {
	.navbar .container,
	.navsticky .container {
		font-size: 0.9rem;
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.navbar .container ul {
	}

	.navbar .contactbutton,
	.navsticky .contactbutton {
		padding: 0.4rem 1rem;
		font-size: 0.9rem;
	}
	.navbar ul > li,
	.navbar ul > li:before,
	.navbar ul > li:after,
	.navsticky ul > li {
		padding-left: 2rem;
	}
}
